.vagrant
*.sqlite
builds
buildmaster/gitpoller-workdir/
buildmaster/http.log
buildmaster/twistd.log
buildmaster/twistd.pid
buildmaster/sc3-plugins/*
buildmaster/supercollider/*
buildslave-ubuntu-lucid-x86_64/sc3-plugins/*
buildslave-ubuntu-lucid-x86_64/supercollider/*
buildslave-ubuntu-lucid-x86_64/twistd.hostname
buildslave-ubuntu-lucid-x86_64/twistd.log
buildslave-ubuntu-lucid-x86_64/twistd.pid
buildslave-ubuntu-lucid-x86/sc3-plugins/*
buildslave-ubuntu-lucid-x86/supercollider/*
buildslave-ubuntu-lucid-x86/twistd.hostname
buildslave-ubuntu-lucid-x86/twistd.log
buildslave-ubuntu-lucid-x86/twistd.pid
